<div class="article__container card">
  <div class="article__title">
    <h1 class="article__title--text">
      {{ title }}
    </h1>
    <a class="article__title--link" [href]="link">
      <fa-icon
        [icon]="faGitHub"
        [styles]="{ width: '2.5rem', height: '2.5rem' }"
      ></fa-icon>
    </a>
  </div>
  <div class="article__tags" *ngIf="tags.length > 0">
    <hewitson-dev-tag
      *ngFor="let tag of tags"
      [name]="tag.name"
      [colour]="tag.colour"
      [textColour]="tag.textColour"
    ></hewitson-dev-tag>
  </div>
  <markdown [src]="markdownSrc" class="article"></markdown>
</div>
