.article {
  max-width: 100rem;
  text-align: left;
  border-top: 1px solid var(--text-muted);
  margin-left: 1rem;
  margin-right: 1rem;

  &__container {
    display: flex;
    justify-content: center;
    max-width: 60vw;
    margin: 0 auto;
    flex-direction: column;
    background-color: var(--bg-card);
    border-top-right-radius: 0;
    border-top: none;
    border-top-left-radius: 0;
  }

  & > a {
    text-decoration: none;
  }

  &__title {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;

    &--text {
      font-size: 3rem;
      color: var(--text);
      z-index: var(--z-xs);
      margin: 0.75rem 0;
      margin-right: auto;

      &::after {
        content: '';
        position: relative;
        display: block;
        height: 2px;
        background: var(--linear-grad);
      }
    }

    &--link {
      color: var(--text);
    }

    &--views {
      color: var(--text-muted);
      text-align: center;
      max-height: 1rem;
      margin: auto 0;
    }

    &--icon {
      color: var(--text-muted);
      text-align: center;
      max-height: 1rem;
      margin: auto 0.25rem auto auto;
    }
  }

  &__tags {
    display: flex;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;

    &--title {
      color: var(--text-muted);
      margin: 0 0.5rem 0 0;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .article {
    &__container {
      max-width: 75vw;
    }

    &__title {
      &--text {
        font-size: 2.5rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .article {
    &__container {
      max-width: none;
    }

    &__title {
      &--text {
        font-size: 2rem;
      }
    }
  }
}
