.article {
  max-width: 100rem;
  width: 100%;
  text-align: left;
  &__container {
    display: flex;
    justify-content: center;
    max-width: 60vw;
    margin: 0 auto;
    flex-direction: column;
  }

  &__title {
    color: var(--text);
    z-index: var(--z-xs);
    text-decoration: underline;
    text-decoration-color: var(--clr-primary);
  }

  &__tags {
    display: flex;
  }
}

@media only screen and (max-width: 1000px) {
  .article {
    &__container {
      max-width: 75vw;
    }
  }
}

@media only screen and (max-width: 600px) {
  .article {
    &__container {
      max-width: none;
    }
  }
}
