.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: var(--nav-height);
  box-shadow: var(--shadow);
  padding: 0 1rem;
  background-color: var(--clr-secondary);

  &__logo {
    &--img {
      max-height: calc(var(--nav-height) * 0.8);
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: calc(var(--nav-height) * 1.25);
    margin-right: 1.5rem;
    color: var(--clr-light);
    text-decoration: none;

    &--icon {
      margin-right: 0.25rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: center;

    &__item {
      display: none;
    }
  }
}
