.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &__icon {
    &--none {
      opacity: 0.5;
    }
  }

  &__none {
    margin: 0;
  }

  &__item {
    width: 100%;
    border-bottom: 1px solid var(--text-muted);
    margin-bottom: 1rem;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__top {
    font-weight: 500;
    margin: 0;
    display: flex;
  }

  &__title {
    margin: 0;
    margin-right: 0.5rem;
  }

  &__company {
    margin: 0;
    margin-left: 0.5rem;
    color: var(--text);

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }

    &::after {
      content: '';
      position: relative;
      display: block;
      height: 2px;
      background: var(--clr-primary);
      transform: scaleX(0);
      transform-origin: 0%;
      transition: transform 500ms ease;
      top: -3px;
    }
  }

  &__dates {
    margin: 0;
    color: var(--text-muted);
  }

  &__description {
    white-space: pre-line;
  }
}
