.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &__icon {
    &--none {
      opacity: 0.5;
    }
  }

  &__none {
    margin: 0;

    &::after {
      content: '';
      position: relative;
      display: block;
      height: 2px;
      background: var(--linear-grad);
    }
  }

  &__header {
    margin: 0 auto 1rem auto;
    padding-bottom: 2px;

    &::after {
      content: '';
      position: relative;
      display: block;
      height: 2px;
      background: var(--linear-grad);
    }
  }

  &__item {
    width: 100%;
    border-bottom: 2px solid var(--grad1);
    margin-bottom: 1rem;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__top {
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &__title {
    margin: 0;
    display: flex;
  }

  &__company {
    margin: 0;
    margin-right: 0.5rem;
    color: var(--text);
    font-weight: 600;
    text-decoration: none;

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }

    &::after {
      content: '';
      position: relative;
      display: block;
      height: 2px;
      background: var(--linear-grad);
      transform: scaleX(0);
      transform-origin: 0%;
      transition: transform 500ms ease;
      top: -3px;
    }
  }

  &__roles {
    border-left: 2px solid var(--grad1);
    padding-left: 1rem;
    margin-left: 1rem;
  }

  &__role {
    border-bottom: 2px solid var(--grad1);
    margin-bottom: 0.5rem;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__tags {
    display: flex;
  }

  &__dates {
    margin: 0;
    margin-left: 2rem;
    color: var(--text-muted);
    font-size: 1.1rem;
    font-weight: 400;
  }

  &__description {
    white-space: pre-line;
  }
}
