.navbar {
  width: 100%;
  height: 4rem;
  background-color: var(--clr-primary);
  position: absolute;

  &__icon {
    opacity: 0;
  }

  &__container {
    width: 100%;
    height: var(--nav-height-bottom);
    background-color: var(--bg-nav);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    box-shadow: var(--shadow);
  }

  &__bubble {
    background-color: var(--bg-nav);
    width: 3rem;
    height: 3rem;
    bottom: 5.5rem;
    border-radius: 50%;
    z-index: 1;
    transform: translateY(160%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
    &--container {
      position: absolute;
      display: flex;
      justify-content: space-around;
      width: 100%;
      bottom: 1.5rem;
    }
    &--active {
      transform: translateY(0%);
      box-shadow: var(--shadow);
      > span {
        opacity: 0.7;
      }
    }
  }
  &__menu {
    opacity: 0.75;
    transform: translateY(100%);
    cursor: pointer;
    color: var(--bg-nav);
    min-width: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0.25rem;
    &:hover {
      opacity: 1;
    }
    &--container {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}

#bgWrapper {
  filter: url(#goo);
  width: 100%;
  height: 6.25rem;
  position: absolute;
  bottom: 3.75rem;
}
#bg {
  background-color: var(--bg-nav);
  width: 120%;
  height: 100%;
  margin-left: -10%;
}
#bgBubble {
  position: absolute;
  background-color: var(--bg-nav);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  bottom: -3.3rem;
  left: 16.5%;
  transform: translateX(-50%);
  transition: all 0.2s ease-out;
}
