.about {
  padding: 1rem 0px;
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;

    &--right {
      grid-column-end: span 2;
    }
  }
}

@media only screen and (max-width: 850px) {
  .about {
    &__grid {
      &--right {
        grid-column-end: span 1;
      }
    }
  }
}
