<div class="full-page about">
  <div class="about__grid">
    <div class="about__grid--left">
      <hewitson-dev-profile-card
        [image]="image"
        [name]="name"
        [job]="job"
        [email]="email"
        [socialLinks]="socialLinks"
      ></hewitson-dev-profile-card>
      <hewitson-dev-skills></hewitson-dev-skills>
    </div>
    <div class="about__grid--right">
      <hewitson-dev-work-history
        [history]="history"
      ></hewitson-dev-work-history>
    </div>
  </div>
</div>
