.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    border-radius: 50%;
    position: relative;
    top: -2.5rem;
    width: 17.5rem;
    height: 17.5rem;
    background: var(--linear-grad);

    &--pic {
      position: absolute;
      top: 3px;
      left: 3px;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      border-radius: 50%;
      background-size: cover;
    }
  }

  &__name {
    text-align: center;
    margin: -1.5rem 0 0;
    font-weight: 500;
  }

  &__job {
    text-align: center;
    margin: 0.5rem 0 0.5rem;
    font-weight: 500;
    color: var(--text-muted);
    font-size: 1rem;
  }

  &__email {
    text-align: center;
    margin: 0;
  }

  &__social {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto 0 0.5rem;
  }

  &__icon {
    border: none;
    padding: 0.75rem;
    margin: 0 1rem;
    color: var(--clr-primary);
    background-color: var(--bg-card);
    transition: color 500ms ease;

    &:hover {
      color: var(--clr-primary__hover);
    }
  }
}
