.content-holder {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--nav-height) 1fr;
}

.navbar {
  width: 100%;
  z-index: var(--z-m);
}

.content {
  --content-pad: 5rem;
  padding: 1rem var(--content-pad);
  overflow-x: hidden;
  overflow-y: scroll;
}

.bottom-nav {
  width: 100%;
  display: none;
  z-index: var(--z-l);
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .content {
    --content-pad: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .content-holder {
    grid-template-rows: var(--nav-height) 1fr var(--nav-height);
  }

  .content {
    --content-pad: 1rem;
  }

  .bottom-nav {
    display: flex;
  }
}
