.navbar {
  width: 100%;
  z-index: var(--z-m);
  position: fixed;
  top: 0;
}

.content {
  --content-pad: 5rem;
  padding: var(--content-pad);
  margin-top: var(--nav-height);
  height: calc(100% - (var(--nav-height)));
}

.bottom-nav {
  width: 100%;
  display: none;
  z-index: var(--z-l);
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .content {
    --content-pad: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    --content-pad: 1rem;
    margin-bottom: var(--nav-height);
  }

  .bottom-nav {
    position: fixed;
    display: flex;
    bottom: 0;
  }
}
