.tag {
  font-size: 0.75rem;
  padding: 0 0.5rem;
  text-align: center;
  font-weight: 500;
  border-radius: var(--border-radius);
  box-shadow: none;
  border: 1px solid;
  display: flex;
  align-items: center;
  margin: 0 0.5rem;

  &:first-child {
    margin-left: 0;
  }

  &__logo {
    max-width: 1.5rem;
    min-height: 1.5rem;
    object-fit: cover;

    &--container {
      display: flex;
      background: var(--btn-text);
      border-radius: 50%;
      transform: translateX(-0.5rem);
    }
  }
}
