<div class="full-page">
  <hewitson-dev-header></hewitson-dev-header>
  <hewitson-dev-project-list
    [title]="'Projects'"
    [projects]="projects"
  ></hewitson-dev-project-list>
  <h1 class="about__title">Get in Touch</h1>
  <div class="about">
    <hewitson-dev-business-card
      class="about__item"
      [image]="image"
      [name]="name"
      [job]="job"
      [email]="email"
      [socialLinks]="socialLinks"
    ></hewitson-dev-business-card>
    <hewitson-dev-contact-form></hewitson-dev-contact-form>
  </div>
</div>
