@import 'variables';

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  background: var(--bg);
  color: var(--text);
}

pre {
  box-shadow: none !important;
}

.article {
  & > p > a {
    text-decoration: none;
    color: var(--text);
    position: relative;
    font-weight: 500;

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      background: var(--linear-grad);
      transform: scaleX(0);
      transform-origin: 0%;
      transition: transform 500ms ease;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.container {
  margin-top: var(--size-l) + 0.5rem;
  height: calc(100vh - 3.5rem);
}

.btn {
  background-color: var(--clr-primary);
  color: var(--btn-text);
  border: 2px solid var(--grad2);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 500ms ease;

  &:hover,
  &:focus {
    color: var(--btn-text) !important;
    background-color: var(--clr-primary__hover) !important;
    outline: none;
  }

  &--border {
    background-color: var(--btn-text);
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    cursor: pointer;
    &:hover,
    &:focus {
      color: var(--btn-text);
      background-color: var(--clr-primary);
      outline: none;
    }
  }
}

.card {
  background: var(--bg-card);
  border: 3px solid var(--grad2);
  border-radius: var(--border-radius);
}

.full-page {
}
