:root {
  /////////////////////
  // Colour Settings //
  /////////////////////

  --clr-primary: #b9d8c2;
  --clr-secondary: #9ac2c9;
  --clr-tertiary: #ffffff;
  --clr-light: #ffffff;
  --clr-dark: #2e2f2f;

  /////////////////////
  ////// Shadow ///////
  /////////////////////

  --shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;

  /////////////////////
  ////// Z-index //////
  /////////////////////

  --z-max: 1000;
  --z-xl: 500;
  --z-l: 100;
  --z-m: 50;
  --z-s: 10;
  --z-xs: 5;
  --z-base: 1;
  --z-min: 0;

  /////////////////////
  //////// Size ///////
  /////////////////////

  /////////////////////
  // Navbar Settings //
  /////////////////////

  --nav-height: 4rem;
}
