:root {
  /////////////////////
  // Colour Settings //
  /////////////////////

  --grad0: #f8f8f8;
  --grad1: #dbe1e8;
  --grad2: #b2becd;
  --grad3: #6c7983;
  --grad4: #454e56;
  --grad5: #2a2e35;
  --grad6: #12181b;
  --clr-primary: #f54291;
  --clr-secondary: #2f89fc;
  --border-radius: 1rem;
  --shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;

  .light {
    --bg: var(--grad0);
    --bg-nav: var(--grad0);
    --bg-dropdown: var(--grad0);
    --title: var(--clr-primary);
    --text: var(--clr-dark);
    --text-hover: darken(var(--clr-primary), 15%);
    --border-clr: var(--grad0);
    --btn: var(--clr-primary);
    --bnt-hover: var(--grad0);
    --btn-text: var(--grad0);
    --btn-text-hover: var(--clr-primary);
  }
  .dark {
    --bg: var(--clr-dark);
    --bg-nav: var(--clr-dark);
    --bg-dropdown: var(--clr-dark);
    --title: var(--clr-primary);
    --text: var(--grad0);
    --text-hover: var(--clr-secondary);
    --border-clr: var(--clr-secondary);
  }

  /////////////////////
  ////// Z-index //////
  /////////////////////

  --z-max: 1000;
  --z-xl: 500;
  --z-l: 100;
  --z-m: 50;
  --z-s: 10;
  --z-xs: 5;
  --z-base: 1;
  --z-min: 0;

  /////////////////////
  //////// Size ///////
  /////////////////////

  // Font sizes
  --font-xxxl: /* 96px */ calc(6 * 1rem);
  --font-xxl:  /* 48px */ calc(3 * 1rem);
  --font-xl:   /* 36px */ calc(2.25 * 1rem);
  --font-l:    /* 24px */ calc(1.5 * 1rem);
  --font-m:    /* 18px */ calc(1.125 * 1rem);
  --font-s:    /* 16px */ calc(1 * 1rem);
  --font-xs:   /* 12px */ calc(0.875 * 1rem);
  --font-xxs:  /* 10px */ calc(0.625 * 1rem);

  // Baseline
  --font-size-body: var(--font-s);
  --font-baseline: calc(var(--font-size-body) * 1.5);

  // Distances
  --size-xxxl: /* 432 */ calc(var(--font-baseline) * 16);
  --size-xxl: /* 216 */ calc(var(--font-baseline) * 8);
  --size-xl: /* 108px */ calc(var(--font-baseline) * 4);
  --size-l:  /* 54px */ calc(var(--font-baseline) * 2);
  --size-m:  /* 27px */ calc(var(--font-baseline));
  --size-s:  /* 14px */ calc(var(--font-baseline) / 2);
  --size-xs: /*  7px */ calc(var(--font-baseline) / 4);

  /////////////////////
  // Navbar Settings //
  /////////////////////

  --nav-height: 3rem;
  --nav-height-bottom: 5rem;
}
