.list {
  &__title {
    border-bottom: 2px solid var(--title);
    padding-bottom: 0.5rem;
    color: var(--text);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    justify-content: space-evenly;
  }
}
