.skills {
  &__list {
    margin-top: var(--grid-gap);
    padding: 0.5rem 1rem;
  }
}

.skill {
  border-bottom: 2px solid var(--grad2);
  position: relative;
  &::after {
    content: '';
    position: relative;
    display: block;
    height: 2px;
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
    background: var(--clr-primary);
    top: 2px;
  }

  &:hover,
  &--active {
    &::after {
      transform: scaleX(1);
    }
  }

  &--active {
      .skill {
          &__icon {
    transform: rotate(45deg);
          }
      }
  }

  &__icon {
    position: absolute;
    right: 0;
    transition: transform 500ms ease;
    &--active {
      color: var(--clr-primary);
    }
  }
}
