.skills {
  display: flex;
  flex-direction: column;
  &__title {
    margin: 0;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    &::after {
      content: '';
      position: relative;
      display: block;
      height: 2px;
      background: var(--linear-grad);
    }
  }

  &__list {
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.skill {
  border-bottom: 2px solid var(--grad2);
  position: relative;
}
